body {
    background-color: #ffffff;
    padding: 50px;
    justify-content:center;
    align-items:center;
  }
  
  .checker {
    height: 60px;
  }
  
  .block1 { background-color: #dcf6ff; }
  .block2 { background-color: #feffa8; }
  .block3 { background-color: #b38aff; }
  .block4 { background-color: #fb8cff; }
  .block5 { background-color: #ff9ac0; }
  .block6 { background-color: #ffcb9e; }
